<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'modulos/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'modulos/css/.css/style_ejercicios'%}">
    <title>Pecho y triceps</title>
</head>

<body>
    {% include "nav.html"%}
    <br>
    <br>
    <br>
    <br>
    <div class="container">

        <div class="row">

            <!-- Portada -->
            <div class="col-lg-8">

                <!-- Titulo -->
                <h1 class="mt-4">Ejercicios para pectoral y triceps</h1>

                <hr>



                <!-- Imagen -->
                <img class="img-fluid rounded" src="{% static 'modulos/img/Ejercicios/triceps/portada_triceps.png'%}"
                    alt="">

                <hr>

                <!-- Contenido -->
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut,
                    error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni
                    recusandae laborum minus inventore?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos
                    iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat.
                    Temporibus, voluptatibus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis
                    unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat
                    perspiciatis. Enim, iure!</p>



                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas
                    placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem
                    obcaecati?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo,
                    aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam
                    recusandae? Qui, necessitatibus, est!</p>


                <!-- PRINCIPIANTES -->

                <!-- Titulo -->
                <h1 id="principiantes" class="mt-4">Ejercicio para principiantes</h1>
                <hr>
                <h4 style="padding-left: 5%;">Flexiones con apoyo de rodilla</h4>
                <!-- Imagen -->
                <img class="img-fluid rounded" src="{% static 'modulos/img/Ejercicios/triceps/flexiones_facil.png'%}"
                    alt="">

                <hr>

                <!-- Contenido -->

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut,
                    error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni
                    recusandae laborum minus inventore?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos
                    iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat.
                    Temporibus, voluptatibus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis
                    unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat
                    perspiciatis. Enim, iure!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas
                    placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem
                    obcaecati?</p>


                <!-- INTERMEDIO -->

                <!-- Titulo -->
                <h1 id="intermedio" class="mt-4">Ejercicio de nivel Intermedio</h1>
                <hr>
                <h3 style="padding-left: 5%;">Flexiones de brazos/Push-up</h3>
                <!-- Imagen -->
                <img class="img-fluid rounded" src="{% static 'modulos/img/Ejercicios/triceps/flexiones.JPG'%}" alt="">

                <hr>

                <!-- Contenido -->

                <p class="lead">En el nivel intermedio tenemos las conocidas flexiones de brazos que son un poco mas complicadas que el ejercicio anterior
                    por lo que se requiere mas fuerza para lograrlo. La flexiones de brazos o push-up es un ejercicio de fuerza que se realiza en una superficie plana (como el suelo), se
                    inicia en una posición horizontal apoyando los pies y las manos en el suelo y teniendo los brazos
                    completamente estirados, las manos deben estar a nivel de los hombros aproximadamente. El siguiente
                    paso es bajar flexionando los brazos hasta acercar tu rostro y pecho lo más cerca posible del suelo
                    (sin tocarlo) para finalmente subir, retornando a la posición inicial.</p>

                <p>Si realizamos la flexión de brazos con las manos juntas, estas se denominan flexiones diamante. En estas flexiones el peso corporal 
                    se concentra mas en los triceps. si la realizas con los brazos mas abiertos se trabaja un poco mas el hombro.
                </p>

                <p>Es importante ir variando los tipos de flexiones para así trabajar de forma mas completa con este grandioso ejercicio</p>

                <!-- AVANZADO -->

                <!-- Titulo -->
                <h1 id="avanzado" class="mt-4">Ejercicio de nivel avanzado</h1>
                <hr>
                <h3 style="padding-left: 5%;">fondos en banca</h3>
                <!-- Imagen -->
                <img class="img-fluid rounded" src="{% static 'modulos/img/Ejercicios/triceps/fondos_banca.jpg'%}"
                    alt="">

                <hr>

                <!-- Contenido -->

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut,
                    error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni
                    recusandae laborum minus inventore?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos
                    iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat.
                    Temporibus, voluptatibus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis
                    unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat
                    perspiciatis. Enim, iure!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas
                    placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem
                    obcaecati?</p>




                <h3 style="padding-left: 5%;">fondos en barras paralelas</h3>
                <!-- Imagen -->
                <img class="img-fluid rounded" src="{% static 'modulos/img/Ejercicios/triceps/fondos_paralela.jpg'%}"
                    alt="">

                <hr>

                <!-- Contenido -->

                <p class="lead">En el nivel avanzado tenemos el fondo en barras paralelas es un ejercicio de fuerza que se realiza sujetando las
                    barras paralelas con las manos por encima de las mismas y manteniendo el cuerpo en el aire de manera recta y vertical con los
                    brazos estirados, para posteriormente bajar doblando o flexionando los bazos hacia atrás hasta un
                    ángulo de 90 grados en los codos, y finalmente retornando a la posición inicial. </p>
                
                <p>Este ejercicio requiere mas fuerza que los fondos en banca
                        por lo que te cuesta mucho realizarlo debes ganar fuerza realizando fondos en banca</p>
                <p>​si hacemos los dips en barras paralelas angostas, trabajaremos más los tríceps, y si son más anchas,
                    trabajaremos más el pecho.</p>

            </div>



            <div class="col-md-4">

                <!-- Categorias -->
                <div class="card my-4">
                    <h5 class="card-header">Categorias por nivel</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#principiantes">Principiante</a>
                                    </li>
                                    <br>
                                    <li>
                                        <a href="#intermedio">Intermedio</a>
                                    </li>
                                    <li>
                                        <a href="#avanzado">Avanzado</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {%include "footer.html"%}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>