<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Publicación</title>
</head>

<body>
  {% include "nav.html" %}

  <br>
  <br>
  <br>
  <br>
  <!-- Page Content -->
  <div class="container">
    {% for p in posts %}
    <!-- Portfolio Item Heading -->
    <div>
      
        <h1 class="my-4">{{p.titulo}}  <a href=" {% url 'editar_post' id=p.id  %}" class="btn btn-warning btn-lg"> Editar publicación</a> </h1>

    </div>
    
    <h6><small> {{p.created}} </small></h6>


    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="/media/{{p.foto_post}}" height="500" width="750" alt="">
        <br>
        <br>


      </div>

      <div class="col-md-4">
        <h3 class="my-3">Descripción</h3>
        <p>{{p.descripcion}}</p>
        
      </div>
      {% endfor %}

<br>
<br>

    </div>

</body>

</html>