<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <title>Administrar usuarios</title>
</head>

<body>
    {% include "nav.html" %}
    <br>
    <br>
    <br><br><br><br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Usuarios</h6>
        </div>
        {% if mensaje %}
        <div class="alert alert-success" role="alert">
            {{mensaje}}
        </div>
        {% endif %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tabla_usuarios" width="70%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo electronico</th>
                            <th>Creación</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Username</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Corre electronico</th>
                            <th>Creación</th>
                            <th>Administrar</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for u in usuarios %}
                        <tr class="table-default">
                            <th>{{u.username}}</th>
                            <td>{{u.first_name}}</td>
                            <td>{{u.last_name}}</td>
                            <td>{{u.email}}</td>
                            <td>{{u.date_joined}}</td>



                            <td>
                                <a href="{% url 'adm_posts' id=u.id %} " class=" btn btn-primary btn-block"> Administrar
                                    posts</a>
                                <a href="{% url 'eliminar_usuario' id=u.id %}" class="btn btn-danger btn-block">Eliminar
                                    usuario</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#tabla_usuarios').DataTable();
      });
    </script>



</html>