<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'modulos/css/bootstrap.min.css'%}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>
    <link href="{% static 'modulos/css/style_profile.css'%}" rel="stylesheet">
    <title>Editar perfil</title>
</head>

<body>

    {% include 'nav.html' %}
    <br>
    <br>
    <br>

    <div style="padding-left: 25%;" class="container-fluid">
        <h1 class="mt-4">Editar perfil</h1>
        <form class=" col-md-8" id="form-register" method="POST">
            {% csrf_token %}

            <!-- NOMBRE -->
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"> Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{usuario.first_name}}" name="nombre">
                </div>
            </div>

            <!-- APELLIDO -->
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"> Apellido:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="apellido" value="{{usuario.last_name}}">
                </div>
            </div>



            <!-- CORREO ELECTORNICO -->
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"> Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" value="{{usuario.email}}">
                </div>
            </div>

            <br>

            <div style="padding-left: 20%;">
                <button type="submit" id="btnRegistrar" class="btn btn-success"> <i class="far fa-save"></i>
                    Guardar cambios</button>
                <button type="reset" class="btn btn-warning"> <i class="fas fa-times-circle"></i> Cancelar
                </button>
            </div>
        </form>
    </div>
    <br>
    <hr>



    <div style="padding-left: 25%;" class="container-fluid">
        <h1 class="mt-4">Cambiar contraseña</h1>
        <form action="{% url 'cambiar_clave' %}" class=" col-md-8" id="cambiar_clave" method="POST">
            {% csrf_token %}

            <!-- CONTRASEÑA -->
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"> Contraseña:</label>
                <div class="col-sm-10">
                    <input class="form-control" required id="clave" type="password" minlength="6" name="contraseña"
                        class=" form-input">

                    <small id="passwordHelpInline" class="text-muted">
                        La contraseña debe tener minimo 6 caracteres
                    </small>
                </div>
            </div>

            <!-- CONTRASEÑA 2 -->
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Contraseña:</label>
                <div class="col-sm-10">
                    <input placeholder="Confirmar contraseña" class="form-control" requiered id="clave2" type="password"
                        minlength="6" name="contraseña2" class=" form-input">

                    <small id="passwordHelpInline" class="text-muted">
                        La contraseña debe tener minimo 6 caracteres
                    </small>
                </div>
            </div>

            <br>

            <div style="padding-left: 20%;">
                <button type="submit" id="btnRegistrar" class="btn btn-success"> <i class="far fa-save"></i>
                    Guardar cambios</button>
                <button type="reset" class="btn btn-warning"> <i class="fas fa-times-circle"></i> Limpiar
                </button>
            </div>
        </form>



    </div>
    <br>
    <br>


    {%include "footer.html"%}



</body>

</html>