<!DOCTYPE html>
<html lang="es-cl">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>

    <title>Iniciar sesión</title>
</head>

<body class="fondo-login">


    <!-- Barra de navegacion -->

    {% include "nav.html" %}

    <br>
    <br>
    <br>
    <br>

    <section class="">
        <div class="login-box">
            <img class="avatar" src="{% static 'modulos/img/logo.png'%}" alt="Logo">

            <h1>Iniciar sesión</h1>


            <form id="form-login" method="POST">
                <!-- Usuario-->
                {% csrf_token %}
                <label for="username">Usuario</label>
                <input type="text" placeholder="Ingrese Usuario" name="usuarioLogin">


                <!--Contraseña-->

                <label for="password">Contraseña</label>

                <input type="password" placeholder="Ingrese Contraseña" name="contraseñaLogin">

                <input type="Submit" value="Iniciar Sesión">
                {% if error %}
                <p style="color:red">{{error}}</p>
                {% endif %}
 
                <a href="{% url 'registro'  %}">¿No tienes una cuenta?. Registrate aquí</a>
            </form>
            <br>
            <a href="{% url 'social:begin' 'facebook' %}">
                <button style="color: white;
                background-color: #3b5998;" class="btn" type="submit"><i
                        class="fab fa-facebook-f mr-2"></i> Ingresar con Facebook</button>
            </a>

           
        </div>
       
    </section>



    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
 
</body>

</html>