<!DOCTYPE html>
<html lang="es-cl">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="{% static 'modulos/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'modulos/css/style.css'%}">

    <title> Registrarme</title>
</head>

<body class="fondo-registro">

    {%include "nav.html"%}


    <!-- Formulario de registro -->
    <section class="container-fluid ">
        <section class="row justify-content-center position">


            <form class="form-container " id="form-register" method="POST">
                {% csrf_token%}
                <h3 class="tittle-center"> Registrarse</h3>
                {% if error %}
                <p class="alert alert-danger" style="color: red;">{{error}}</p>
                {% endif %}

                <!-- NOMBRE DE USUARIO  -->
                <div class="form-group">
                    <i class="fas fa-user-circle"></i>
                    <label class="">Nombre de usuario</label>
                    <br>
                    <input type="text" name="username" minlength="4" required class=" form-input"
                        placeholder="Ingrese su nombre de usuario">
                </div>

                <!-- NOMBRE -->
                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <label>Nombre</label>
                    <br>
                    <input type="text" name="nombre" required class="form-input" required
                        placeholder="Ingrese su nombre ">
                </div>

                <!-- APELLIDO -->
                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <label>Apellido</label>
                    <br>
                    <input type="text" name="apellido" required class="form-input" required
                        placeholder="Ingrese su apellido">
                </div>

                <!-- CORREO ELECTORNICO -->
                <div class="form-group">
                    <i class="fas fa-envelope"></i>
                    <label class="">Correo electronico</label>
                    <br>
                    <input type="email" name="email" required class="form-input" placeholder="Ingrese su email">
                </div>


                <!-- CONTRASEÑA -->
                <div class="form-group">
                    <i class="fas fa-key"></i>
                    <label for="">Contraseña</label>
                    <br>
                    <input id="clave" type="password" minlength="6" name="contraseña" required class=" form-input"
                        placeholder="Ingrese su contraseña">
                    <br>
                    <small id="passwordHelpInline" class="text-muted">
                        La contraseña debe tener minimo 6 caracteres
                    </small>
                </div>

                <!-- CONTRASEÑA 2 -->
                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    <label for="">Confirmar contraseña</label>
                    <br>
                    <input type="password" minlength="6" name="contraseña2" required class="form-input"
                        placeholder="Re-ingrese su contraseña">

                </div>


                <button type="submit" id="btnRegistrar" class="btn btn-success btn-block"> <i
                        class="fas fa-user-plus"></i>Registrarse</button>
                <br>
                <div>
                    <a class="tittle-center" href="#">¿Olvidaste tu contraseña?</a>

                </div>
            </form>


        </section>
    </section>







    <!-- Scripts -->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/validacion.js"></script>


</body>

</html>